reversi/response.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!--                                               -->
<!--                                               -->
<!--                                               -->
<!--                    RESPONSES                  -->
<!--                                               -->
<!--                                               -->
<!--                                               -->

<xs:element name="message" type="xs:string" />

<!-- when registering a user -->
<xs:complexType name="regInfo">
  <xs:sequence>
    <xs:element name="nick" type="xs:string" />
    <xs:element name="uuid" type="xs:string" />
  </xs:sequence>
</xs:complexType>

<!-- in response to a join, we confirm with the table info -->
<xs:complexType name="tableInfo">
  <xs:sequence>
    <xs:element name="tableid" type="xs:string" />
    <!-- any optional message the table has (announcements, etc) -->
    <xs:element name="message" type="xs:string" minOccurs="0" />
    <!-- will tell us if the table is ready, i.e. has 2 players -->
    <xs:element name="ready" type="xs:string" />
    <xs:element name="blackPlayer" type="xs:string" />
    <xs:element name="whitePlayer" type="xs:string" />
    <!-- the state of the game board, if the table is ready -->
    <xs:element name="board" type="board" minOccurs="0" />
    <!-- various game info, self-explanatory -->
    <xs:element name="blackScore" type="xs:string" minOccurs="0" />
    <xs:element name="whiteScore" type="xs:string" minOccurs="0" />
    <xs:element name="turn" type="xs:string" minOccurs="0" />
  </xs:sequence>
</xs:complexType>

<!-- in response to a move, pass or update we confirm with the new board -->
<xs:complexType name="board">
  <xs:sequence>
    <xs:element name="row" type="row" minOccurs="8" maxOccurs="8" />
  </xs:sequence>
</xs:complexType>

<!-- each row is a string which tells us the piece at each spot -->
<xs:complexType name="row">
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="num" type="xs:string" />
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<!-- all information regarding some player on the server -->
<xs:complexType name="userInfo">
  <xs:sequence>
    <xs:element name="nick" type="xs:string" />
    <!-- number of our table if we're at one -->
    <xs:element name="table" type="xs:string" minOccurs="0" />
    <xs:element name="points" type="xs:string" />
    <xs:element name="ratio" type="xs:string" />
    <!-- optionally, we can include information about user's table -->
    <xs:element name="tableInfo" type="tableInfo" minOccurs="0" />
  </xs:sequence>
</xs:complexType>

<xs:complexType name="users">
  <xs:sequence>
    <xs:element name="userInfo" type="userInfo" minOccurs="0" />
  </xs:sequence>
</xs:complexType>

<xs:complexType name="tables">
  <xs:sequence>
    <xs:element name="tableInfo" type="tableInfo" minOccurs="0" />
  </xs:sequence>
</xs:complexType>

<xs:element name="response">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0" />
      <xs:choice minOccurs="0">
        <xs:element name="userInfo" type="userInfo" />
        <xs:element name="tableInfo" type="tableInfo" />
        <xs:element name="regInfo" type="regInfo" />
        <xs:element name="players" type="users" />
        <xs:element name="tables" type="tables" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="type" use="required" />
    <xs:attribute name="request" use="required" />
  </xs:complexType>
</xs:element>

</xs:schema>