reversi/schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!--                                                     -->
<!--                                                     -->
<!--                                                     -->
<!--                       REQUESTS                      -->
<!--                                                     -->
<!--                                                     -->
<!--                                                     -->

<!-- indicates a desired move to some row/col -->
<xs:complexType name="move">
  <xs:sequence>
    <xs:element name="row" type="xs:string" />
    <xs:element name="col" type="xs:string" />
  </xs:sequence>
</xs:complexType>

<!-- requests the latest board, optionally specifying a table -->
<xs:complexType name="update">
  <xs:attribute name="table" />
</xs:complexType>

<!-- requests to join some table with some color (both optional) -->
<xs:complexType name="join">
  <xs:sequence>
    <xs:element name="table" type="xs:string" minOccurs="0" />
    <xs:element name="color" type="xs:string" minOccurs="0" />
  </xs:sequence>
</xs:complexType>

<!-- encapsulates all possible requests -->
<xs:element name="request">
  <xs:complexType>
    <xs:sequence>
      <!-- every request needs a username -->
      <xs:element name="username" type="xs:string" minOccurs="1" />
      <!-- verification string confirms we are who we say we are -->
      <xs:element name="verification" type="xs:string" minOccurs="0" />
      <!-- we'll have one of these, if not registering -->
      <xs:choice minOccurs="0">
        <xs:element name="join" type="join" />
        <xs:element name="move" type="move" />
        <!-- requests list of current tables and players -->
        <xs:element name="list" />
        <!-- requests to leave table -->
        <xs:element name="leave" />
        <!-- requests to pass turn -->
        <xs:element name="pass" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="type" use="required" />
  </xs:complexType>
</xs:element>

<!--                                               -->
<!--                                               -->
<!--                                               -->
<!--                    RESPONSES                  -->
<!--                                               -->
<!--                                               -->
<!--                                               -->

<xs:element name="message" type="xs:string" />

<!-- when registering a user -->
<xs:complexType name="userInfo">
  <xs:sequence>
    <xs:element name="username" type="xs:string" />
    <xs:element name="verification" type="xs:string" />
  </xs:sequence>
</xs:complexType>

<!-- in response to a join, we confirm with the table info -->
<xs:complexType name="tableInfo">
  <xs:sequence>
    <xs:element name="table" type="xs:string" />
    <xs:element name="color" type="xs:string" />
    <xs:element name="opponent" type="xs:string" minOccurs="0" />
  </xs:sequence>
</xs:complexType>

<!-- in response to a move, pass or update we confirm with the new board -->
<xs:complexType name="board">
  <xs:sequence>
    <xs:element name="row" type="row" minOccurs="8" maxOccurs="8" />
  </xs:sequence>
</xs:complexType>

<xs:complexType name="row">
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="num" type="xs:string" />
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<!-- used when we're reporting the current state -->
<xs:complexType name="latest">
  <xs:sequence>
    <xs:element name="username" type="xs:string" minOccurs="0" />
    <xs:element name="color" type="xs:string" minOccurs="0" />
    <xs:element name="opponent" type="xs:string" minOccurs="0" />
    <xs:element name="table" type="xs:string" minOccurs="0" />
    <!-- if there's a board to send, send it -->
    <xs:element name="board" type="board" minOccurs="0" />
  </xs:sequence>
</xs:complexType>

<!-- used when an error has occurred -->
<xs:complexType name="error">
  <xs:sequence>
    <xs:element name="message" type="xs:string" />
  </xs:sequence>
</xs:complexType>

<xs:element name="response">
  <xs:complexType>
    <xs:sequence>
      <xs:choice>
        <xs:element name="board" type="board" />
        <xs:element name="update" type="latest" />
        <xs:element name="error" type="error" />
        <xs:element name="tableInfo" type="tableInfo" />
        <xs:element name="userInfo" type="userInfo" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="type" use="required" />
    <xs:attribute name="request" use="required" />
  </xs:complexType>
</xs:element>

</xs:schema>